/eureka-gallery-client/*.classpath
/eureka-gallery-client/*.factorypath
/eureka-gallery-client/*.project
/eureka-gallery-client/.settings
/eureka-gallery-client/target/classes/META-INF
/eureka-gallery-client/target/classes
/eureka-gallery-client/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/eureka-gallery-client/target/maven-archiver/pom.properties
/eureka-gallery-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/eureka-gallery-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/eureka-gallery-client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/eureka-gallery-client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/eureka-gallery-client/target/microservices-eureka-gallery-client-0.0.1-SNAPSHOT.jar
/eureka-gallery-client/target/microservices-eureka-gallery-client-0.0.1-SNAPSHOT.jar.original
/eureka-gallery-client/target/test-classes/log4j.properties
/eureka-image-client/.classpath
/eureka-image-client/.factorypath
/eureka-image-client/.project
/eureka-image-client/.settings/org.eclipse.core.resources.prefs
/eureka-image-client/.settings/org.eclipse.jdt.apt.core.prefs
/eureka-image-client/.settings/org.eclipse.jdt.core.prefs
/eureka-image-client/.settings/org.eclipse.m2e.core.prefs
/eureka-image-client/.settings/org.springframework.ide.eclipse.prefs
/eureka-image-client/target/classes/META-INF/MANIFEST.MF
/eureka-image-client/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-image-client/pom.properties
/eureka-image-client/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-image-client/pom.xml
/eureka-image-client/target/classes/application.properties
/eureka-image-client/target/classes/com/aitorgonzalez/microservices_eureka_image_client/EurekaImageClient.class
/eureka-image-client/target/classes/com/aitorgonzalez/microservices_eureka_image_client/controller/HomeController.class
/eureka-image-client/target/classes/com/aitorgonzalez/microservices_eureka_image_client/model/Image$ImageBuilder.class
/eureka-image-client/target/classes/com/aitorgonzalez/microservices_eureka_image_client/model/Image.class
/eureka-image-client/target/maven-archiver/pom.properties
/eureka-image-client/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/eureka-image-client/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/eureka-image-client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/eureka-image-client/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/eureka-image-client/target/microservices-eureka-image-client-0.0.1-SNAPSHOT.jar
/eureka-image-client/target/microservices-eureka-image-client-0.0.1-SNAPSHOT.jar.original
/eureka-image-client/target/test-classes/application.properties
/eureka-server/.classpath
/eureka-server/.project
/eureka-server/.settings/.jsdtscope
/eureka-server/.settings/org.eclipse.core.resources.prefs
/eureka-server/.settings/org.eclipse.jdt.apt.core.prefs
/eureka-server/.settings/org.eclipse.jdt.core.prefs
/eureka-server/.settings/org.eclipse.m2e.core.prefs
/eureka-server/.settings/org.eclipse.wst.common.component
/eureka-server/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
/eureka-server/.settings/org.eclipse.wst.common.project.facet.core.xml
/eureka-server/.settings/org.eclipse.wst.jsdt.ui.superType.container
/eureka-server/.settings/org.eclipse.wst.jsdt.ui.superType.name
/eureka-server/.settings/org.springframework.ide.eclipse.prefs
/eureka-server/target/classes/META-INF/MANIFEST.MF
/eureka-server/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-server/pom.properties
/eureka-server/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-server/pom.xml
/eureka-server/target/classes/application.properties
/eureka-server/target/classes/com/aitorgonzalez/microservices_eureka_server/EurekaServer.class
/eureka-server/target/classes/log4j.properties
/eureka-server/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
/eureka-server/target/maven-archiver/pom.properties
/eureka-server/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/eureka-server/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/eureka-server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/eureka-server/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/eureka-server/target/microservices-eureka-server-0.0.1-SNAPSHOT.jar
/eureka-server/target/microservices-eureka-server-0.0.1-SNAPSHOT.jar.original
/eureka-server/target/test-classes/log4j.properties
/eureka-zuul/.classpath
/eureka-zuul/.project
/eureka-zuul/.settings/org.eclipse.core.resources.prefs
/eureka-zuul/.settings/org.eclipse.jdt.apt.core.prefs
/eureka-zuul/.settings/org.eclipse.jdt.core.prefs
/eureka-zuul/.settings/org.eclipse.m2e.core.prefs
/eureka-zuul/.settings/org.springframework.ide.eclipse.prefs
/eureka-zuul/target/classes/META-INF/MANIFEST.MF
/eureka-zuul/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-zuul/pom.properties
/eureka-zuul/target/classes/META-INF/maven/com.aitorgonzalez/microservices-eureka-zuul/pom.xml
/eureka-zuul/target/classes/application.properties
/eureka-zuul/target/classes/com/aitorgonzalez/microservices_eureka_zuul/EurekaZuul.class
/eureka-zuul/target/maven-archiver/pom.properties
/eureka-zuul/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
/eureka-zuul/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
/eureka-zuul/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
/eureka-zuul/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
/eureka-zuul/target/microservices-eureka-zuul-0.0.1-SNAPSHOT.jar
/eureka-zuul/target/microservices-eureka-zuul-0.0.1-SNAPSHOT.jar.original
/eureka-zuul/target/test-classes/application.properties
